head
  meta(name="viewport" content="width=device-width")
  meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
  title ${{index.meta-title}}$
  meta(name="description" content="${{index.meta-description}}$")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@longzero")
  meta(property="og:title" content="${{index.meta-title}}$")
  meta(property="og:description" content="${{index.meta-description-og}}$")
  meta(property="og:type" content="website")
  meta(property="og:url" content="http://long.loves.design")
  meta(property="og:image" content="http://")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
  link(href="../css/vendors.css" rel="stylesheet")
  link(href="../css/style.css" rel="stylesheet")
  script(src="../vendors/jquery-2.1.4.min.js")