*~
*.log
src/app/tmp/
.DS_Store
related/
.ftpconfig
.ftpignore
.sass-cache/
.project
.settings/

application.ini
bower_components/
node_modules/
npm-debug.log

main.css.map
style.css.map
wp-config.php
*.css.map


### WordPress ###
sitemap.xml
sitemap.xml.gz
src/wp-config.php
src/wp-content/advanced-cache.php
src/wp-content/backup-db/
src/wp-content/backups/
src/wp-content/blogs.dir/
src/wp-content/cache/
src/wp-content/upgrade/
src/wp-content/uploads/
src/wp-content/wp-cache-config.php

.tmp/

.travis.yml
/desktop.ini
/build/config.gypi
