html
  head
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
    title ${{index.meta-title}}$
    meta(name="description" content="${{index.meta-description}}$")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@longzero")
    meta(property="og:title" content="${{index.meta-title}}$")
    meta(property="og:description" content="${{index.meta-description-og}}$")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://long.loves.design")
    meta(property="og:image" content="http://")
    link(href="../css/style.css" rel="stylesheet")
  body
    table
      tr
        td.center-content
          p Center this paragraph
