*
  box-sizing border-box
  margin 0
  padding 0

html, body
  width 100%
  height @width
body
  color the-copy
  font-family font-default
  font-size: font-size
  font-weight: font-light

// Links
//
// Links have a special styling without underline<br>
//
// :hover - The hover state underlines the link.
//
// Markup: <a class="{{modifier_class}}" href="#">This is a link</a>
//
// Weight: 1
//
// Styleguide: Base.links
a
  color the-link
  font-weight: font-bold
  text-decoration: none;
  transition: .3s
  &:hover
    text-decoration: underline;
iframe
  display: block;
iframe,img,video
  max-width 100%
p,ul,ol
  margin-bottom 1em
ul,ol
  margin-left: 0

// Hard rules
//
// This is a horizontal line for separating content.
//
// Markup: <hr>
//
// Weight: 10
//
// Styleguide: Base.horizontal-line
hr
  border-top 5px solid #999