
// BREAKPOINTS
breakpoint-mobile = 480px
breakpoint-iphone = 375px
breakpoint-iphone-plus = 414px
breakpoint-tablet = 600px
breakpoint-ipad = 768px
breakpoint-desktop = 960px
breakpoint-ipad-landscape = 1024px
breakpoint-large = 1200px
breakpoint-air = 1400px
breakpoint-big = 1600px
breakpoint-hd = 1900px

// breakpoint-header = 960px


// FONTS
font-default = 'Open Sans', sans-serif;
font-line-height = 1.2
font-size = 16px
font-light = 300
font-weight = 400
font-semibold = 600
font-bold = 700


// Colors
//
// Colors we use for higlighting states.
//
// the-red - #D01A23, Rouge Archipel
// the-hover - #ED4E23, Hover
//
// Weight: 0
//
// Styleguide Base.colors

// Basic colours
the-orange = #ED4E23
the-red = #D01A23

// Specific colours
the-hover = #ED4E23
the-link = #68c8c6

header-height = 65px
header-height-desktop = 110px
site-width = 1140px
