doctype
html
  head
    meta(http-equiv="refresh" content="0; URL='fr/'")


//- extends _includes/layout

//- block content
//-   p Just testing this
//-   p ${{index.sample-language}}$
//-   include images/icon-facebook.svg
//-   include images/icon-linkedin.svg
//-   include images/icon-twitter.svg
